<div class="w-100 d-flex flex-column min-vh-100">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h1 class="fs-4">Liste des bordereaux</h1>
            <a routerLink="/" class="link-primary">Accueil </a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Provenance</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Date démission</th>
                    <th scope="col">Nombre de courriers</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (item of bordereaux$ ; track item.id) {
                <tr>
                    <th scope="row">{{item.numero}}</th>
                    <td>{{item.provenance}}</td>
                    <td>{{item.destination}}</td>
                    <td>{{item.emission}}</td>
                    <td>{{item.courriers?.length}}</td>
                    <td>
                        <a href="#" (click)="openPdfModal(item.id); $event.preventDefault();" class="link-primary">Afficher </a>
                    </td>
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>